# Copia a .env y ajusta si quieres (docker compose lee estas variables)

MYSQL_ROOT_PASSWORD=rootsecret
MYSQL_DATABASE=paramo_libre
MYSQL_USER=paramo
MYSQL_PASSWORD=paramo_pass
MYSQL_PORT=3306
WEB_PORT=8080
